{% extends "index.html" %}
{% block content %}
<h4>Blog Features</h4>
<br>
<p><a target="_blank" href="http://flask.pocoo.org"><img width='30' src="{{ url_for('static', filename='img/flask.png') }}" alt=""></a> Python Flask Framework</p>
<p><a target="_blank" href="https://www.flickr.com"><img width='30' src="{{ url_for('static', filename='img/flickr.png') }}" alt=""></a>&nbsp; Flickr Image Server</p>
<p><a target="_blank" href="http://getbootstrap.com"><img width='30' src="{{ url_for('static', filename='img/Bootstrap.png') }}" alt=""></a>&nbsp; Twitter Bootstrap Framework</p>
{% endblock %}

{% block intro_cont %}
  {% for i in intro %}
    {{ i|safe }}
  {% endfor %}
{% endblock %}
